<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
<div style ="text: center">
  <div>Name : ${name}</div>
  <div class="color:orange">Email : ${email}</div>
</div>
  <table border="1px solid black" width="100%"
         style="font-family:Roboto,RobotoDraft,Helvetica,Arial,sans-serif; border-collapse: collapse;">
      <tr>
          <th>
              Id
          </th>

          <th>
              Name
          </th>

          <th>
              Address
          </th>
          <th>
              Status
          </th>
      </tr>
    ${table}
  </table>
</div>
</body>
</html>